In [1]:
import pandas as pd
import geopandas as gpd
import os

# chemin pour accéder aux différents fichiers
cwd = os.getcwd()
data_dir = os.path.join(os.path.dirname(cwd), 'data')
shp_dir = os.path.join(os.path.dirname(os.path.dirname(cwd)), 'Shapefile')

# afficher 300 lignes
pd.set_option('display.max_rows', 300)

In [2]:
# lecture du fichier
luxembourg = gpd.read_file(os.path.join(shp_dir, "luxembourg/20210204-rpg/20210204_RPG.shp"))
luxembourg

,FLIK,CODE_ELEM,CODE_COM,CODE_SECT,SURF_ELEM,PERIM_REEL,ENVIR,SURFACE,PERIMETRE,geometry
0,0451170,P,104,A,25550.421839,923.742118,None,25550.421839,923.742118,"POLYGON ((66364.745 90856.382, 66364.707 90856..."
1,0877750,P,117,B,27949.735423,782.868698,None,27949.735423,782.868698,"POLYGON ((66884.623 93534.193, 66862.569 93511..."
2,0877753,P,117,B,25676.425981,1228.248657,None,25676.425981,1228.248657,"POLYGON ((66895.843 93515.545, 66875.125 93491..."
3,0911608,P,117,B,10342.823311,542.827002,None,10342.823311,542.827002,"POLYGON ((67114.900 92534.448, 67112.021 92532..."
4,0780551,P,104,D,29244.014475,980.708902,None,29244.014475,980.708902,"POLYGON ((65078.358 87995.985, 65101.665 87984..."
...,...,...,...,...,...,...,...,...,...,...
90008,0006801,V,097,B,4418.036884,267.575978,None,4418.036884,267.575978,"POLYGON ((93090.783 61934.791, 93090.556 61927..."
90009,0006805,V,097,C,693.103525,128.545544,None,693.103525,128.545544,"POLYGON ((93517.308 60822.769, 93521.330 60818..."
90010,0001872,V,126,D,5768.451482,325.438202,None,5768.451482,325.438202,"POLYGON ((92069.332 65770.245, 92076.848 65754..."
90011,0005579,V,130,C,575.517591,99.459192,None,575.517591,99.459192,"POLYGON ((97357.895 75524.785, 97374.961 75540..."
90012,0001904,V,098,B,331.130338,97.115765,None,331.130338,97.115765,"POLYGON ((93465.553 67352.418, 93456.829 67343..."

In [3]:
# sélection des colonnes et export en .csv
luxembourg_code = luxembourg[["CODE_ELEM", "CODE_COM"]].sort_values(by = ["CODE_ELEM", "CODE_COM"]).drop_duplicates().reset_index(drop = True)
luxembourg_code

    CODE_ELEM CODE_COM
0           D      001
1           D      002
2           D      003
3           D      004
4           D      005
..        ...      ...
398         V      098
399         V      102
400         V      111
401         V      126
402         V      130

[403 rows x 2 columns]